@charset "UTF-8";

.linkPortalWrapper table th, .linkPortalWrapper table td {
    border: 1px solid #efefef;
    padding: 1.6px;
    vertical-align: top;
}

.hideDiscountFields,
.hideDiscountAmount,
.hideDiscountPercent {
	display: none;
}

.showDiscountAmount,
.showDiscountPercent{
	display: block !important;
}
