@charset "UTF-8";

@media all
{
    .m-payroll_leavePolicy .toggle {
        display:block;
    }

    .m-payroll_leavePolicy .yform{
        background-color: #fff;
        border: 0;
        padding: 0;
    }

    .m-payroll_leavePolicy .c50l,
    .m-payroll_leavePolicy .c50r {
        width: 100%;
    }

    .m-payroll_leavePolicy .ym-columnar .ym-fbox-text label,
    .m-payroll_leavePolicy .ym-columnar .ym-fbox-select label,
    .m-payroll_leavePolicy #frmEdit .type-text label,
    .m-payroll_leavePolicy #frmEdit .type-select label {
        width: 100%;
    }

    .m-payroll_leavePolicy #frmEdit .creModdate .type-text label{
        width: 20%;
    }

    .m-payroll_leavePolicy  .linkPortalWrapper div.header,
    .m-payroll_leavePolicy  .linkPortalWrapper .linkPortalDataWrapper th{
        background-color: #F8F8F8;
    }

}