@charset "UTF-8";

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape){
  /* iPhone, Android rules here for landscape */
  
  .pic img {

  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait){
  /* iPhone, Android rules here for portrait */
  
  .pic img {
      width: 300px;
  }

}

@media all
{
    /*--- Links ----------------------------------------------------------------------------------------- */
    a {
        color: #009997;
/*        font-size: 11px;*/
        background:transparent;
        text-decoration:underline;
        outline: none;
    }

    #header .hlist a,
    #header .loginInfoText a,
    #header .w-common-language a {
       font-size: 11px;
    }
    a:visited  {color: #009997; }

    a:focus,
    a:hover,
    a:active {color:#666666;}

    h1, h2, h3, h4, h5, h6 {
        font-family: Arial,Helvetica,sans-serif;
        color: #666666;
    }

    body {
        background: #EAEAEA url('/www/images/container.jpg') repeat-x;
        padding: 0;
        color: #666666;
        font-size: 12px;
        font-family: Arial,Helvetica,sans-serif;
    }

    body.m-webBasic_home {
/*        background: #EAEAEA url('/www/images/container_home.jpg') repeat-x;*/
    }

    .page_margins {
/*        background: transparent url('/www/images/bg.jpg') no-repeat top left;*/
        background: transparent;
        width: 100%;
    }

    .page_margins, #header {
/*        margin:10px;*/
    }

    .m-webBasic_home .page_margins {
/*        background: transparent url('/www/images/bg_home.jpg') no-repeat top center;*/
    }

    .hideboth #col3 {
        margin-right:20px;
        margin-left:10px;
    }
    
    .page {
      margin: auto;
    }

    #header {
        color: #000;
        background:transparent url('/www/images/logo.png') no-repeat scroll 0 10px;
        padding: 0;
        height:80px;
        padding-top: 10px;
    }

    #logo {
        display:block;
        width:180px;
        height:70px;
        position:absolute;
        top:0;
        left:0;
        outline: none;
    }

    #nav {
        border-top:0px;
        border-bottom:0px;
    }

    .ui-widget {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 1em;
    }

    .ui-widget-content {
        color: #666666;
    }

    .ui-widget-content .w-content-record h3{
        font-size: 14px;
        font-weight: bold;
    }

    .ui-dialog-title {
        color: #666666;
    }

    #main {
        background: none;
        padding-top: 0px;
        min-height: 200px;
    }

    .cpBack {
        background: transparent;
        color: #009997;
        display: block;
        font-size: 11px;
        line-height: 18px;
        padding: 0;
    }

    div.pp_default .pp_nav {
        width: 100%;
    }

/*    .picWrap .pic img {
        float:right;
    }

    .picWrap .relatedPicture .pic img {
        float:none;
    }*/

    .relatedPicture .float_left {
        margin-right: 10px;
    }
    
    .fatList .row {
        border-bottom: 3px dotted #d0d0d0;
    }
}

@media all
{

    #col1_content {
      padding-top: 26px;
    }

    .hidecol2 #col3_content {
      padding: 0 0 100px 56px;
    }

    #footer {
        background-color: #FFFFFF;
        padding: 5px 0;
        width: 100%;
    }

    #footer .floatbox {
        margin: auto;
        font-size: 11px;
        color: #999999;
    }

    #footer .floatbox .float_right{
        padding-right: 20px;
    }
    
    #footer .floatbox .copyright{
        width: 580px;
    }

    #footer .floatbox .supportedByTitle{
        font-size: 12px;
    }

    #footer .supportedBy{
    }

    #footer .carousel {
        background: transparent;
        border-radius: inherit;
        margin-top: -30px;
        padding: 0px;
        margin-right: 10px;
        margin-left: 4px;
    }

    #footer .carousel ul li{
        border: 0;
    }
}

/************* Top Nav *******************/
@media all
{
    #header .w-core-mainNav {
        position: absolute;
        top: 25px;
        left: inherit;
        right: 10px;
    }

    #header .hlist {
        background: none;
    }

    #header .hlist ul  {
        width: 60px;
    }

    #header .hlist ul li {
        border-right: 0px solid #999999;
        padding: 5px 0;
        float:right;
        margin-right: 5px;
    }

    #header .hlist ul li a {
        color:#999999;
        padding: 0;
        margin: 0 ;
        text-shadow: 1px 1px 1px #FFFFFF;
    }

    #header .hlist ul li.last {
    }

    #header .hlist ul li.active {
        background: none;
        border-right: 0px solid #999999;

    }

    #header .hlist ul li.active a{
        background:transparent;
        color:#999999;
        text-decoration:none;
/*        font-size: 12px;*/
        font-weight: bold;
        padding: 0;
    }
}

@media all
{
    .rt-home #main {padding:0;}
    .rt-home #col3_content {padding:0;}
    .rt-home .content {
        padding: 15px;
    }
}

/******************* HomeMenu ********************/
@media all
{
    .homeMenu ul li{
        border-bottom: 3px dotted #d0d0d0;
        overflow: hidden;
    }

    .homeMenu ul li a{
        color: #06559F;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
    }

    .homeMenu ul li ul {
        padding-bottom: 10px;
    }

    .homeMenu ul li ul li{
        float:left;
        border-bottom: 0;
/*        border-right: 1px solid #666666;*/
        line-height: 18px;
    }

    .homeMenu ul li ul li a{
        color:#666666;
        border-right: 1px solid #666666;
        padding: 0 5px;
    }



}


@media all
{
    .loginInfoText {
        position: absolute;
        right: 0px;
        top: 40px;
        font-size: 12px;
        color: #666666;
    }

    .loginInfoText a {
        color: #999999;
        text-decoration: none;
    }

    .btnViewCart {
        position: absolute;
        right: 280px;
        top: 19px;
        border-right: 1px solid #999999;
        padding-right: 15px;
    }

    .btnViewCart a,
    ul li.sec_type_basket a {
        background: url('/www/images/shoppingcart.png') no-repeat scroll right 0 transparent;
        padding: 0 23px 0 3px;
        color: #999999;
    }

    #siteSearch {
        position: absolute;
        right: 0;
        top: 12px;
    }

    #siteSearch div.floatbox {
        background: url('/www/images/search.png') no-repeat scroll 0 6px transparent;
        height: 17px;
        width: 117px;
    }
    #siteSearch .float_left.keywordWrap {
        width: 90px;
    }


    #siteSearch .float_right.submit {
        width: 17px;
    }

    #siteSearch div.floatbox a.submit {
        background: none;
        display: block;
        height: 23px;
        width: 17px;
    }

    #siteSearch .keywordWrap .keyword {
        font-size: 12px;
    }

    .w-common-language {
        left: inherit;
        top: 5px;
        right: 10px;
    }

    .w-common-language ul li a,
    .w-common-language ul li a:hover,
    .w-common-language ul li.active a {
        color: #999999;
    }

    .w-common-breadcrumb {
        padding-bottom: 15px;
    }

/*    #footer .iconPic {
        margin-right: 300px;
        font-size: 12px;
    }

    #footer img {
        position: relative;
        bottom: 35px;
        right: 235px;
        float: right;
    }*/

    .m-ecommerce_product .productList {
        border-bottom: 3px dotted #FFFFFF;
        padding: 15px 0 15px 0;
    }

   .m-ecommerce_product .productList .title a,
   .m-ecommerce_product .productDetail .title {
        font-size: 14px;
        text-decoration: none;
        font-weight: bold;
    }

   .m-ecommerce_product .productList img {
        float: right;
    }

   .m-event_event .eventList .title a,
   .m-event_event .eventDetail .title {
        font-size: 14px;
        text-decoration: none;
        font-weight: bold;
    }

   .m-event_event .eventList {
        border-bottom: 3px dotted #FFFFFF;
        padding: 10px 0 15px 0;
    }

   .m-event_event .eventList img {
        float: right;
    }

   .m-event_event .eventList .date,
   .m-event_event .eventDetail .date {
        font-weight: bold;
    }
}

/********** Button ************/
@media all{
    .button {
        background: url('/www/images/button_bg.jpg') repeat-x scroll 0 0 transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;
/*        height: 29px;*/
        padding: 0.5em 2em;
        font-weight: bold;
        text-shadow: none;
        color:#666666;
        font-size: 11px;
    }

    .button:hover {
        background: url('/www/images/button_bg.jpg') repeat-x scroll 0 0 transparent;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
    .button:visited {
        color:#666666;
    }

    .button a {
        color: inherit;
        text-decoration: none;
    }
}

/************* Pager *************/
@media all {
    .pagelinks {
        font-size: 14px;
        color: #666666;
        padding: 5px;
    }

    .pagelinks {
        width: 100%;
    }

    .pagelinks .preBtn{
        margin-left: 160px;
    }

    .pagelinks span.noLink {
        color: #666666;
    }

    .pagelinks .linkNos {
        color: #06559F;
        width: 155px;
    }

    .pagelinks a,
    .pagelinks .linkNos a,
    .pagelinks .nxtBtn a,
    .pagelinks .preBtn a{
        color: #666666;
        font-size: 14px;
        text-decoration: none;
    }

    .pagelinks a:hover,
    .pagelinks .linkNos a:hover,
    .pagelinks .nxtBtn a:hover,
    .pagelinks .preBtn a:hover{
        color: #06559F;
    }

    .pagelinks a:visited{
        color: #999999;
    }

    .pagelinks span{
        color: #06559F;
    }

    .pagelinks span.currentPage{
        font-weight: bold;
    }
}
/************yForm ***********/
@media all{
    .yform {
        background: transparent;
        border: 0;
        padding-left: 0;
    }

    .yform fieldset {
        background: transparent;
        border: 0;
        padding-left: 0;
    }

    .yform legend {
        color: #666666;
        font-size: 14px;
        font-weight: bold;
    }

    .yform .type-text input,
    .yform .type-text textarea,
    .yform .type-select select,
    table.search td select,
    table.search td input {
        border-radius: 0;
        font-family: Arial,Helvetica,sans-serif;
    }

    .yform .type-button input[type="reset"],
    .yform .type-button input[type="submit"] {
        background: url('/www/images/button_bg.jpg') repeat-x scroll 0 0 transparent;
        border: 0;
        font-weight: bold;
        color: #666666;
        font-size: 11px;
        font-family: Arial,Helvetica,sans-serif;
    }

    .yform div.type-button input:focus,
    .yform div.type-button input:active,
    .yform div.type-button input:hover {
        background: url('/www/images/button_bg.jpg') repeat-x scroll 0 0 transparent;
        border: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        color: #666666;
    }

    .yform .form-row-wrapper .rightCol .type-check {
        float: left;
        padding-right: 10px;
    }

}

/*************Table************/
@media all {
    table#siteSearchResult th,
    table.thinlist thead th {
        background: none repeat scroll 0 0 #cdc6c1;
    }

    table#siteSearchResult th,
    table.thinlist thead th,
    table.thinlist tbody td,
    table#siteSearchResult td {
        color: #666666;
        border: 1px solid #dddddd;
    }

    table.thinlist tbody td,
    table#siteSearchResult td {
        vertical-align: top;
    }

    table#siteSearchResult th,
    table.thinlist thead th {
        vertical-align: middle;
    }
}
/************ calendar ***********/
@media all{
    .m-webBasic_home #home_calendar .ui-datepicker{
        margin-top: 0;
        width: 20em;
    }

    .m-webBasic_home #home_calendar .ui-corner-all{
        border-radius: 0;
    }

    .m-webBasic_home #home_calendar .ui-widget-header {
        background: transparent;
        border: 0;
        color: #666666;
        font-weight: bold;
    }

    .m-webBasic_home #home_calendar .ui-widget-content {
        background: transparent;
        border: 0;
        color: #666666;
    }

    .m-webBasic_home #home_calendar .ui-datepicker th {
        font-size: 11px;
        padding-right: 20px;
    }

    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-header {
        padding-top: 0;
    }
    .m-webBasic_home #home_calendar .ui-datepicker td span,
    .m-webBasic_home #home_calendar .ui-datepicker td a {
        text-align: center;
    }

    .m-webBasic_home #home_calendar .ui-datepicker td {
        line-height: 18px;
    }

    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-title {
        margin: 0;
        margin-right: 2.3em;
        margin-left: 6px;
        text-align: left;
        line-height: 1em;
        font-size: 11px;
    }

    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-prev span,
    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-next span {
        margin: 0;
        top: 0;
        left: 0;
    }

    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-prev,
    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-prev-hover,
    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-next,
    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-next-hover {
        top: 0;
    }

    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-prev,
    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-prev-hover {
        left:inherit;
        right: 60px;
    }
    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-next,
    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-next-hover {
        right:25px;
    }

    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-prev,
    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-next {
        cursor:pointer;
    }

    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-prev,
    .m-webBasic_home #home_calendar .ui-datepicker .ui-datepicker-next,
    .m-webBasic_home #home_calendar .ui-icon-circle-triangle-w,
    .m-webBasic_home #home_calendar .ui-icon-circle-triangle-e {
        width: 8px;
        height: 12px;
    }

    .m-webBasic_home #home_calendar .ui-icon-circle-triangle-w {
        background: url('/www/images/arrow_l.png') no-repeat scroll 0 0 transparent;
    }

    .m-webBasic_home #home_calendar .ui-icon-circle-triangle-e {
        background: url('/www/images/arrow_r.png') no-repeat scroll 0 0 transparent;
    }

    .m-webBasic_home #home_calendar .ui-datepicker-prev-hover .ui-icon-circle-triangle-w {
        background: url('/www/images/arrow_l_on.png') no-repeat scroll 0 0 transparent;
    }

    .m-webBasic_home #home_calendar .ui-datepicker-next-hover .ui-icon-circle-triangle-e {
        background: url('/www/images/arrow_r_on.png') no-repeat scroll 0 0 transparent;
    }

    .m-webBasic_home #home_calendar .ui-datepicker-header .ui-state-hover {
        background: none !important;
        border: 0 !important;
    }

    .m-webBasic_home #home_calendar .ui-state-default,
    .m-webBasic_home #home_calendar .ui-widget-content .ui-state-default,
    .m-webBasic_home #home_calendar .ui-widget-header .ui-state-default {
        background: transparent;
        border: 0;
        color: #666666;
        font-size: 11px;
        width: 18px;
        height: 18px;
    }

    .m-webBasic_home #home_calendar .ui-state-active,
    .m-webBasic_home #home_calendar .ui-widget-content .ui-state-active,
    .m-webBasic_home #home_calendar .ui-widget-header .ui-state-active {
        background: transparent;
        border: 0;
        color: #666666;
    }

    .m-webBasic_home #home_calendar .ui-state-highlight,
    .m-webBasic_home #home_calendar .ui-widget-content .ui-state-highlight,
    .m-webBasic_home #home_calendar .ui-widget-header .ui-state-highlight  {
        border: 0;
        background: #06559F;
        color: #ffffff;
    }

    .m-webBasic_home #home_calendar .ui-state-hover,
    .m-webBasic_home #home_calendar .ui-widget-content .ui-state-hover,
    .m-webBasic_home #home_calendar .ui-widget-header .ui-state-hover,
    .m-webBasic_home #home_calendar .ui-state-focus,
    .m-webBasic_home #home_calendar .ui-widget-content .ui-state-focus,
    .m-webBasic_home #home_calendar .ui-widget-header .ui-state-focus {
        border: 0;
        background: #06559F;
        font-weight: normal;
        color: #ffffff;
        font-size: 11px;
    }
}

/******* Cart *****/
@media all {
    .w-ecommerce-basket .emptyCartInfo {
        margin-bottom: 10px;
    }

    .w-ecommerce-addToCart .button a {
        color: inherit;
        text-decoration: none;
    }

    .w-ecommerce-addToCart .button .ic-cart span {
        display: block;
        font-size: 11px;
        padding-top: inherit;
    }

    .w-ecommerce-addToCart .button a.ic-cart {
        background: url("/www/images/shoppingcart.png") no-repeat scroll 15px 0 transparent;
        height: auto;
        padding-left: inherit;
    }
}

.c33l, .c33r {
    width: 100%;

    .subcl, .subcr {

    }
}