@charset "UTF-8";

@media all
{
    .m-ecommerce_product .productList ul li {
        width: 220px;
        float: left;
        margin:0 20px 20px 0;
        text-align: center;
    }

    .m-ecommerce_product .productList ul li .inner {
        border: 5px solid #cde968;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 200px;
    }

    .m-ecommerce_product .productList ul li .inner .pic{
        line-height: 155px;
    }

    .m-ecommerce_product .productList ul li .inner .pic img {
        vertical-align: middle;
    }

    .m-ecommerce_product .productList ul li .inner .title{
        background: #ecfbbf;
        padding: 7px;
        font-size: 1.2em;
        opacity: 0.5;
        height:30px;
        font-weight: bold;
    }

    .m-ecommerce_product .productList ul li .ic-buyNow a {
        background:transparent url('images/buy-now.png') no-repeat scroll 0 0;
        display: block;
        height: 85px;
        width: 85px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .m-ecommerce_product .productList ul li .ic-buyNow span {
        display: none;
    }

    .m-ecommerce_product .productList ul li .price{
        position: absolute;
        top:100px;
        right:10px;
        opacity: 0.6;
        background: #8fc61b;
        width:80px;
        padding:5px;
        font-size: 20px;
        font-weight: bold;
        text-align: right;
        color: #fff;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .m-ecommerce_product .productDetail h1 {
        margin: 0.5em 0;
    }

    .m-ecommerce_product .productDetail .price {
        font-size: 20px;
        font-weight: bold;
        margin: 0.5em 0;
    }

    .m-ecommerce_product .productDetail .desc p {
        line-height: 1.8em;
    }

	.m-ecommerce_product .button {
		color:#ab4a9c;
	}
}

