.m-account_ledger #col3 .c50l {
    width: 100%;
}

.m-account_ledger #col3 c50r {
    width: 0;
}

.m-account_ledger #ledgerHome {
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border: 1px solid #eee;
    min-height: 450px;
    padding: 15px;
    text-align: center;
}

.m-account_ledger #ledgerHome .container {
    width: 750px;
    margin: 160px auto 0;

}

.m-account_ledger #ledgerHome .fld-acc_head {
    -moz-border-radius: 5px 5px 5px 5px;
    border-color: #AAAAAA #D5D5D5 #D5D5D5 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    font-size: 18px;
    padding: 5px 5px 10px;
    font-weight: bold;
    width: 75%;

}
.m-account_ledger #ledgerHome a.button {
    font-size: 16px;
    font-weight: bold;
    width: 10%;
}

.m-account_ledger #accountInfo {
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border: 1px solid #eee;
    border-color: #AAAAAA #D5D5D5 #D5D5D5 #CCCCCC;
    margin-bottom: 10px;
    min-height: 23px;
    padding: 10px;
    width: 98%;
}

.m-account_ledger #accountInfo {
    font-size: 15px;
}
.m-account_ledger #accountInfo th {
    padding-right: 10px;
}
.m-account_ledger #accountInfo td {
    padding-right: 10px;
}
.m-account_ledger #accountInfo td.accountName {
    width: 280px;
}

.m-account_ledger #bodyList .narration {
    font-style: italic;
}

.m-account_ledger tr.ledger-header {
    background-color: #ccc;
    font-weight: bold;
}


