@charset "UTF-8";

@media all
{
    body {
        background: #4D87C7;
        background: #d7e9f8 url('images/bg.png') repeat-x;
        font-family: 'Times New Roman', Arial, Serif;
        font-size: 13px;
        color: #5B5B5B;
    }

    .page_margins {
        max-width: 1050px;
        width: auto;
    }

    .page {
        width: 990px;
        margin: auto;
    }

    /*--- Links ----------------------------------------------------------------------------------------- */
    a {color: #4D87C7; background:transparent; text-decoration:none; outline: none;}
    a:visited  {color: #4D87C7; }

    a:focus,
    a:hover,
    a:active {color:#182E7A; text-decoration:underline; }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Oswald', Arial, Serif;
        color: #5B5B5B;
    }

    #header {
        background:transparent url('/www/images/logo.png') no-repeat scroll 0px 0px;
        padding: 0;
        height:120px;
    }

    #logo {
        display:block;
        width:302px;
        height:85px;
        position:absolute;
        top:0;
        left:0;
        outline: none;
    }

    .ui-widget {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 1em;
    }

    #footer {
        background: transparent;
        border-top: 1px solid #000;
        padding: 10px;
        margin: 25px 2px 0 2px;
    }    
}

@media all
{
    #nav {
        border-top: 0px;
        border-bottom: 0px;
        position: absolute;
        right: 0;
        top: 76px;
    }

    #nav ul {
    }

    .hlist {
        background:transparent;
    }

    .hlist ul li a {
        background:transparent;
        color:#5B5B5B;
        padding: 0 0.8em;
        line-height: 1.1em;
    }


    .hlist ul li.active {
        background:transparent;
        color: #5B5B5B;
    }

    .hlist ul li {
        background:transparent;
    }

    .hlist ul li.active a{
        background:transparent;
        color:#5B5B5B;
        text-decoration:none;
    }

    .hlist ul li.last a{
        padding-right: 0;
    }
    
    .vlist {
        width: 160px;
    }

    .vlist li {
        border-bottom: 1px solid;
        line-height:2em;    
    }
    
    .vlist ul li a {
        padding: 3px 0 3px 0;
        color:#5B5B5B;
    }

    .vlist ul {
        border-top: 1px solid #ccc;
    }

    .vlist ul li {
        border-bottom: 1px solid #ccc;
    }
}

@media all
{
    #main {
        padding: 0;
    }
    
    #col3 {
        margin: 0 250px 0 243px;
    }

    #col3_content {
        padding: 0;
    }

    .hidecol2 #col3 {
        margin-left: 243px;
        margin-right: 0;
    }

    .hidecol2 #col3_content {
        padding-right: 0;
    }

    .rt-home .c25r {
        width: 22%;
    }

    .rt-home .c75l {
        width: 78%;
    }

	.news-fat .pager {
	    margin-left: 450px;
	}

	.w-media-s3Slider #s3Slider {
        width: 760px;
	}

    .w-media-s3Slider #s3Slider #s3SliderContent {
        width: 700px;
    }

    .m-webBasic_home .c25r .subcr.rightPanel img {
        float: right;
    }
    
    .w-common-language {
        top: 10px;
        right: 0;
        left: auto;
    }

    .diamond .pic {
        float: left;
        height: 170px;
        width: 170px;
        margin: 10px 10px 0 0;
    }
    
    .diamond .picWrap img {
        max-width: 160px;
        max-height: 160px;
    }

    .m-webBasic_contactUs .yform,
    .m-webBasic_contactUs .yform fieldset {
        background:none;
        border:0;
    }

    .m-webBasic_gallery .pictureGrid .pic .imageCaption {
        background: #5B5B5B;
        color: #fff;
        text-align: center;
    }

}