@media all
{
	.m-aceIms_contact {
		#col3_content .error strong {
    		margin-left: 0 !important;
		}

		.studentEnrollment .highlightBorder,
		.studentEnrollmentEdit .highlightBorder {
    		border: 1px dotted #ca226b;
		}

		.c50r .rightPanel .aceIms_contact__aceIms_courseLink .fontBigAndBold {
    		font-size: 16px;
    		font-weight: bold;
		}
	}
}