@media all
{
	.m-tuitionsg_contact {
		#col3_content .error strong {
    		margin-left: 0 !important;
		}

		.stepsStudentName{
			font-size: 18px;
		}

    	.toggle {
        	display: block;
    	}

    	.ym-columnar.ym-form .form-row-wrapper .leftCol,
    	.columnar.yform .form-row-wrapper .leftCol {
        	float: left;
        	width: 24%;
    	}

    	.tuitionsg_contact__aceIms_courseLink .enrollmentHeader {
        	background: -moz-linear-gradient(center top , #27587F, #224D6F 4%, #0F324F 44%, #172D3F 50%, #091F2F 50%, #04131F) repeat scroll 0 0 rgba(0, 0, 0, 0);
        	border: 1px solid #CCCCCC;
        	color: #FFFFFF;
        	width: 98%;
    	}

	    .ym-columnar .ym-fbox-text label,
	    .ym-columnar .ym-fbox-select label,
	    #frmEdit .type-text label,
	    #frmEdit .type-select label {
	        width: 100%;
	    }

	    .ym-form label,
	    .yform label {
	        color: #000;
	    }

	    .linkPortalWrapper table td input[type="text"] {
	        width: 96%;
	    }

	    .linkPortalWrapper table td input.hasDatepicker {
	        width: 87%;
	    }

	    div.header {
	        padding: 1em;
	    	div div {
	        	font-size: 18px;
	    	}
	    }

	    .c50l,
	    .c50r {
	        width: 100%;
	    }

    	.c50r .rightPanel {
	        padding: 10px;

		    div.header {
		        width: 97%
		    }

		    .linkPortalWrapper table th {
		        color: #fff;
		        background-color: #666666;
		    }

		    .linkPortalWrapper table td {
		        border: 1px solid #000;
		    }

    		#media__tuitionsg_contact__picture,
    		#media__tuitionsg_contact__attachment {
        		width: 49%;
        		float: left;
        		margin-right: 10px;
    		}

		    #media__tuitionsg_contact__picture div.header,
		    #media__tuitionsg_contact__attachment div.header {
		        width: 95%;
		    }
    	}
	}
}