@media all
{
    .receiptForm {
    	.invoice_items {
        	width: 190px;
        }

		.monthField {
        	width: 50px;
    	}        
    }

    #invoicePortalOuter,
    #receiptPortalOuter {
        max-height: 200px;
        overflow: auto;
    }

    .m-agileIms_order {
        .c50l {
            width: 30%;
        }

        .c50r {
            width: 70%;

            .rightPanel {
                .invoiceDisplay table td.highlightClass,
                .receiptDisplay table td.highlightClass {
                    background-color: #684A4A;
                    color: #fff;
                }
            }
        }
   	}

	.columnar .receipt_invoices.error .message {
        margin-left: 0;
    }
    
    #portalForm.editInvoiceFormPvt .installmentTitle .type-text {
        width: 85px;
        margin-top: 10px;
    }

    .yform .invoiceDate div.type-text {
        width: 175px;
    }

    .editInvoiceFormPvt .edit_invoices .error .message {
    }
}