@media all
{
    table.orderClass select{
        border: 0px solid red;
        width: 125px;
    }

    .companyCourseBulkLink    {
    }

    .companyCourseBulkLink  .leftCol,
    .companyCourseBulkLink  .rightCol {
        border: 1px solid #ccc;
        border-radius: 5px;
        min-height: 400px;
    }

    .companyCourseBulkLink  .leftCol {
        margin-right: 5px;
        padding:8px;
    }
    
    .traineesSelectedLinked  .type-select select, .traineesSelectedLinked  select{
        font-size: 10px;
        width: 75px;
    }
}

