@charset "UTF-8";

@media all
{
    /*--- Links ----------------------------------------------------------------------------------------- */
    a {color: #F78200; background:transparent; text-decoration:none; outline: none;}
    a:visited  {color: #F78200; }

    a:focus,
    a:hover,
    a:active {color:#F78200; text-decoration:underline; }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Oswald', arial, serif;
    }

    #header {
        color: #000;
        background:transparent url('/www/images/logo.jpg') no-repeat scroll 0 8px;
        padding: 0;
        height:113px;
    }

    #logo {
        display:block;
        width:302px;
        height:85px;
        position:absolute;
        top:0;
        left:0;
        outline: none;
    }
    
    .registerText {
        position: relative;
        top: 25px;
        left: 260px;
        width: 250px;
        height: 36px;
        border: 1px solid #818181;
        border-radius: 4px;
        padding-left: 5px;
        color: #74767A;
    }

    .ui-widget {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 1em;
    }

    body {
        font-size: 11px;
    }

    .page_margins {
        width: 975px;
        background: url('images/bg-shadow.jpg') repeat-y scroll 0 0 transparent;
    }

    .page {
        width: 945px;
        margin: auto;
    }

    #col1 {
        width: 263px;
    }

    #col1 .w-core-mainNav ul {
        height: 198px;
    }

    #col1_content {
        padding: 0 0;
    }

    .hidecol2 #col3_content {
        padding-right: 0;
    }

    #col3_content {
        padding: 0;
    }

    .hidecol2 #col3 {
        margin-left: 273px;
        margin-right: 0;
    }

    #footer {
        background: #818181;
        color: #fff;
        padding-bottom: 0;
    }

    #footer a {
        color: #fff !important;
    }
    
    #footer .socialMediaIcons {
        margin: -3px 0 0 30px;
    }

    #footer .socialMediaIcons img {
        vertical-align: middle;
    }
    
    ul.mediaFilesDisplayThin {
        margin-top: 10px;
    }
    
    .button a, a.button {
        font-family: 'Oswald', Arial, serif;
        font-size: 14px;
        color: green;
        padding: 0.5em 1.7em 0.55em;
    }
    
    .button, .button2 {
        padding: 0.5em 0;
    }

}

@media all
{
    #header .hlist {
        background: none repeat scroll 0 0 #818181;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        position: absolute;
        top: 3px;
        right: 0;
        width: auto;
    }

    #header .hlist ul li.active {
        background: transparent;
    }

    #header .hlist ul li a {
        border-right: 1px solid #BCBCBC;
        border-bottom: 0;
        color: #FFFFFF;
        display: block;
        margin: 0;
        padding-right: 0.5em;
        text-decoration: none;
        width: auto;
        background: none;
        font-size: 11px;
        line-height: 22px;
    }

    #header .hlist ul li.active a {
        background: none repeat scroll 0 0 transparent;
        color: #f7ae7e;
        text-decoration: none;
    }

    #header .hlist ul li a:hover {
        color: #000;
    }

    #nav {
        border: none;
        position: relative;
        overflow: hidden;
        height: 70px;
    }

    #nav .hlist {
        float: right;
        width: auto;
    }

    .hlist ul li.active a,
    .hlist ul li a:hover,
    .hlist ul li a.caption:hover {
        background:transparent;
        color:#FF6600;
        text-decoration:none;
        font-weight: normal;
    }

    .hlist ul li a {
        border-right: 1px solid #FF6600;
        color: #585858;
        font-size: 16px;
        padding: 0 0.8em;
    }

    .hlist ul li.last a {
        border-right: 0px solid #FF6600;
    }

    .hlist ul li {
        border: none;
    }

    .hlist .caption {
        display: block;
        font-size: 9px;
    }

    #siteSearch {
        right: 0;
    }

    .w-core-mainNav ul {
        background: url('images/nav_left.jpg') repeat-y scroll left top transparent;
        font-size: 12px;
        margin: 0;
    }

    .w-core-mainNav li {
        list-style: none outside none;
        margin: 0;
    }

    .w-core-mainNav a {
        background: url('images/arrow_white.png') no-repeat scroll 12px 8px transparent;
        border-bottom: 1px solid #FFFFFF;
        color: #FFFFFF;
        display: block;
        padding: 6px 0 7px 15%;
        text-decoration: none;
    }

    .w-core-mainNav ul li.last a {
        border: 0;
    }

    .w-core-mainNav a:hover, .w-core-mainNav li.active a {
        background: url('images/arrow_grey.png') no-repeat scroll 12px 8px transparent;
        color: #000;
    }

    .vlist, ul.vlist {
        background: url('images/sub_nav.jpg') repeat-y scroll left top transparent;
        font-size: 12px;
        margin: 10px 0 0;
        min-height: 193px;
    }

    .vlist li {
        padding: 0 0 0 36px;
    }

    .vlist a {
        background: url('images/arrow_white.png') no-repeat scroll 12px 8px transparent;
        border-bottom: 1px solid #fff;
        color: #fff;
        display: block;
        text-decoration: none;
    }

    .vlist li.last a {
        border-bottom: 0;
    }

    .vlist li.active a,
    .vlist li a:hover {
        color: #000000;
    }

    .vlist ul li a,
    .vlist ul li.active a,
    .vlist ul li a:hover {
        background-position: 0 10px;
        padding: 8px 0 8px 25px;
    }

    .vlist ul li.active > a:first-child, .vlist ul li a:hover {
        font-weight: normal;
    }

    .vlist li.active a,
    .vlist li a:hover {
        background: url('images/arrow_grey.png') no-repeat scroll 0 8px transparent;
    }

    #main .mainInner {
        min-height: 450px;
        padding-bottom: 10px;
    }

    div.readMore {
        margin: 5px 0 5px 0;
    }

    div.readMore a {
        background: url('images/ic-more.gif') no-repeat scroll 0 3px transparent;
        padding:0 0 0 13px;
    }

    .w-common-breadcrumb {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .w-common-breadcrumb img {
        vertical-align: middle;
    }
}

@media all
{
    .rt-home #main {
         padding: 10px 0;
    }

    .rt-home #col3_content {
        padding: 0;
    }

    .fatList {
    }

    .bodyPanel .w-media-s3Slider {
        margin-bottom:10px;
    }

    .w-content-record h3.title {
        font-family: Arial,Helvetica,sans-serif;
    }
    
    .bodyPanel .w-core-subCat .title {
        font-size: 18px;
        margin: 10px 0;
    }

    .bodyPanel .w-core-subCat li a {
        background: url("images/arrow_grey.png") no-repeat scroll 0 0 transparent;
        padding: 0 0 0 16px;
        display: block;
    }    
}

@media all
{
    .rt-home .highlights {
    }

    .rt-home .highlights .w-content-record ul li {
        float: left;
        overflow: hidden;
        margin: 0 10px 10px 0;
        background: url('images/highlight_bg.gif') no-repeat scroll 0 0 transparent;
    }

    .rt-home .highlights .w-content-record ul li .inner {
        background-position: bottom right !important;
        background-repeat: no-repeat !important;
        display: block;
        position: relative;
        height: 126px;
        width: 202px;
        margin: 10px 5px 5px 10px;
    }

    .rt-home .highlights .w-content-record ul li .title {
        font-family: 'Oswald', Arial, serif;
        font-size: 120%;
    }

    .rt-home .highlights .w-content-record ul li .shortDesc {
        margin: 5px 100px 0 0;
    }

    .rt-home .highlights .w-content-record ul li .readMore{
        position: absolute;
        left: 0;
        bottom: 10px;
        padding: 2px 15px 2px 5px;
        background: url('images/arrow_white_s.png') no-repeat scroll 63px 7px transparent;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .rt-home .highlights .w-content-record ul li .readMore a {
        color: #fff !important;
        font-size: 10px;
    }

    .rt-home .highlights .w-content-record ul li.one .title {
        color: #9CBEDE;
    }

    .rt-home .highlights .w-content-record ul li.two .title {
        color: #F41C97;
    }

    .rt-home .highlights .w-content-record ul li.three .title {
        color: #424542;
    }

    .rt-home .highlights .w-content-record ul li.four .title {
        color: #428A84;
    }

    .rt-home .highlights .w-content-record ul li.five .title {
        color: #9471F7;
    }

    .rt-home .highlights .w-content-record ul li.six .title {
        color: #F78200;
    }

    .rt-home .highlights .w-content-record ul li .readMore {
        margin: 0 0 0 0;
    }

    .rt-home .highlights .w-content-record ul li .readMore a {
        background: none;
        padding: 0;
    }

    .rt-home .highlights .w-content-record ul li.one .readMore {
        background-color: #9CBEDE;
    }

    .rt-home .highlights .w-content-record ul li.two .readMore {
        background-color: #F41C97;
    }

    .rt-home .highlights .w-content-record ul li.three .readMore {
        background-color: #424542;
    }

    .rt-home .highlights .w-content-record ul li.four .readMore {
        background-color: #428A84;
    }

    .rt-home .highlights .w-content-record ul li.five .readMore {
        background-color: #9471F7;
    }

    .rt-home .highlights .w-content-record ul li.six .readMore {
        background-color: #F78200;
    }
}

@media all
{
    .rt-home .box {
        margin-top: 10px;
        padding: 10px 10px 0 10px;
        border: 1px solid #DFDFDF;
        min-height: 129px;
    }

    .rt-home .box h2, .rt-home #col1 .box .title {
        font-family: 'Oswald', Arial, serif;
        font-size: 120%;
        padding-bottom: 5px;
        background: url('images/bg_gradient.gif') no-repeat scroll left bottom transparent;
        margin-bottom: 10px;
    }

    .rt-home #col1 .tooltips, .rt-home #col1 .testimonial {
        height: 190px;
    }

    #col1 .testimonial blockquote {
        margin: 0;
    }

    #col1 .testimonial blockquote p {
        line-height: 1.8em;
    }

    #col1 .testimonial ul li {
        margin: 0 0 20px 0;
    }

    #col1 .testimonial .inner {
        overflow: hidden;
    }

    #col1 .testimonial cite {
        float: right;
        color: #9CBEDE;
    }
    
    .testimonial ul li {
        font-style: italic;
    }


    .rt-home .subcolumns.homeBtm .c66l {
        width: 67.5%;
    }

    .rt-home .subcolumns.homeBtm .c33r {
        width: 32.5%;
    }

    .rt-home #col3 .newProgramme {
        border: 0;
        padding: 0;
        height: 265px;
    }
    
    .rt-home #col3 .latestNews {
        height: 400px;
    }
    
    .rt-home #col3 .latestNews ul li, 
    .rt-home #col3 .newProgramme ul li {
        margin: 0 0 20px 0;
    }
    
}

@media all
{
    .rt-home .carousel {
        margin: 0 15px;
        padding: 15px 10px;
    }

    .rt-home .caroufredsel_wrapper {
        margin: auto !important;
    }
    
    .rt-home div.anythingSlider-cs-portfolio .thumbNav {
        display: none !important;
    }
    
    .rt-home div.anythingSlider-cs-portfolio {
        margin-bottom: 10px;
    }
    
    .rt-home div.anythingSlider-cs-portfolio .anythingControls {
        background: transparent;
    }

    .rt-home .anythingSlider-cs-portfolio .anythingControls .start-stop {
        display: none;
    }

    .rt-home .anythingSlider-cs-portfolio .arrow {
        width: 30px;
        height: 30px;
        top: auto;
        bottom: -30px;
    }

    .rt-home .anythingSlider-cs-portfolio .arrow a {
        background: transparent;
    }    

    .rt-home .anythingSlider-cs-portfolio .back {
        left: 0;
        background: url('images/btn_prev.gif') no-repeat scroll left bottom transparent;
    }

    .rt-home .anythingSlider-cs-portfolio .forward {
        right: 0;
        background: url('images/btn_next.gif') no-repeat scroll right bottom transparent;
    }
    
    .jqToolsAccordian h2 {
        font-weight: normal;
        font-size: 12px;
    }

    .jqToolsAccordian table {
        max-width: 630px;
    }
    
    .jqToolsAccordian table td {
        font-size: 12px;
        padding: 5px;
        color: #000;
    }

    .m-webBasic_contactUs .addthis_toolbox {
        display: none;
    }

    .m-ecommerce_basket .w-core-subNav .vlist {
        display: block;
    }

    .home-registration h1 {
        font-size: 120%;
    }
    
    .home-registration a { 
        text-decoration: underline;
    }
   
    .home-registration .columnar .type-text label, 
    .home-registration .columnar .type-select label {
        width: 27%;
    }
    
    .home-registration .columnar div.type-check input,
    .home-registration .columnar div.type-button, .columnar .captcha {
        margin-left: 27%;
    }
    
    .loginInfoText {
        right: 292px;
        top: 8px;
    }
    
    .btnContinueShopping {
        display: none;
    }

    .rt-testimonials .fatList blockquote {
        font-family: arial,helvetica,sans-serif;
        font-size: 12px;
        margin: 0;
    }

    .rt-testimonials .fatList blockquote p:before,
    .rt-testimonials .fatList blockquote p:after {
        font-size:4em;
    }

    .rt-testimonials .fatList blockquote p:before {
        padding-right:10px;
        vertical-align:-20px;
    }

    .rt-testimonials .fatList blockquote p:after {
        font-size:4em;
        line-height:.3;
        vertical-align:-27px;
    } 

    .rt-testimonials .fatList cite {
        font-family: 'Oswald', arial, serif;
        color: #00a7eb;
    }
    
    .m-ecommerce_basket #col1 .w-core-subNav {
    }

    .m-ecommerce_basket .w-common-breadcrumb {
        display: none;
    }    
    
    .rt-confirm-order #btnAddTrainee, .rt-confirm-order #trainees a.removeTrainee {
        display: none;
    }
    
    #trainees fieldset {
        background: #ebf0f4;
        position: relative;
    }

    .traineeFldsetWrapper {
        background: #EBF0F4;
        margin-bottom: 25px;
    }
    
    #trainees a.removeTrainee {
        position: absolute;
        top:-5px;
        right: 15px;
    }
    
    .language {
        display: none;
    }
    
    a.removeItem {
        background: url("images/btn_remove.png") no-repeat scroll 0 0 transparent;
        width: 50px;
        padding-left:11px;
        padding-top: 0px;
        margin-top: 6px;
        font-family: Oswald;
        color: green;
    }
    
    .rt-confirm-order .existingContact, .rt-confirm-order .acknowledge {
        display: none;
    }

    .yform div.error {
        border: 2px dotted #880000;
        padding: 5px;
    }
    
    .registrationThanks {
        border: 3px dotted #666666;
        font-size: 12px;
        font-weight: bold;
        padding: 10px;
    }
    
    .carousel a.prev {
        background: url("images/prev.png") no-repeat scroll 0 0 transparent;
        display: block;
        height: 50px;
        position: absolute;
        top: 40px;
        width: 45px;
    }
    
    .carousel a.next {
        background: url("images/next.png") no-repeat scroll 0 0 transparent;
        display: block;
        height: 50px;
        position: absolute;
        top: 40px;
        width: 45px;
    }

    .carousel a.prev {
        background-position: 0 0;
        left: 0;
    }

    .carousel a.next {
        background-position: 0 0;
        right: 0;
    }

    .carousel a.next:hover, .carousel a.prev:hover {
        background-position: 0px 0px;
        display: block;
    }
    
    .carousel {
      background: none;
      border-radius: 10px 10px 10px 10px;
      position: relative;
    }
    
    .carousel ul li {
        background-color: white;
        border: 0;
        color: #666666;
        display: block;
        float: left;
        list-style: none outside none;
        margin: 6px;
        padding: 9px;
        text-align: center;
    }
    
    .homeBtm .c60l .homeVideo .pic img {
        width: 391px;
        height: 257px;
    }
}

/******************* Anything Slider ********************/
@media all
{
    div.anythingSlider-cs-portfolio .anythingControls {
        background: none;
    }

    div.anythingSlider-cs-portfolio {
      margin-bottom: 0;
    }  
    
    div.anythingSlider-cs-portfolio .start-stop, 
    div.anythingSlider-cs-portfolio .start-stop.hover, 
    div.anythingSlider-cs-portfolio .start-stop:hover, 
    div.anythingSlider-cs-portfolio .start-stop.playing, 
    div.anythingSlider-cs-portfolio .start-stop.playing:hover {
        background-position: center bottom;
        background-repeat: no-repeat;
        display: none;
    }  
}

 /******************* PRINT RELATED ********************/
@media print
{
    .rt-confirm-order #header, 
    .rt-confirm-order #nav, 
    .rt-confirm-order #main #col1, 
    .rt-confirm-order #footer,
    .rt-confirm-order .bodyPanel .w-media-s3Slider,
    .rt-confirm-order .w-ecommerce-confirmOrder .shopBtns {
        display: none;
    }

    .rt-confirm-order #main #col3 {
        margin-left: 0;
    }
}