@charset "UTF-8";

@media all
{
    .m-payroll_salary .toggle {
        display:block;
    }

    .m-payroll_salary .yform{
        background-color: #fff;
        border: 0;
        padding: 0;
    }

    .m-payroll_salary .c50l,
    .m-payroll_salary .c50r {
        width: 100%;
    }

    .m-payroll_salary .ym-columnar .ym-fbox-text label,
    .m-payroll_salary .ym-columnar .ym-fbox-select label,
    .m-payroll_salary #frmEdit .type-text label,
    .m-payroll_salary #frmEdit .type-select label {
        width: 100%;
    }

    .m-payroll_salary #frmEdit .creModdate .type-text label{
        width: 20%;
    }

    .m-payroll_salary  .linkPortalWrapper div.header,
    .m-payroll_salary  .linkPortalWrapper .linkPortalDataWrapper th{
        background-color: #F8F8F8;
    }

}