@charset "UTF-8";

@media all
{
    body {
        background:#333333 url('images/body-bg.gif') repeat-x scroll top left;
        font-family: '宋体', Arial,Helvetica,sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }
    /*--- Links ----------------------------------------------------------------------------------------- */
    a {color: #000000; background:transparent; text-decoration:none; outline: none; font-weight: bold;}
    a:visited {color: #000000;}
    a:focus,
    a:hover,
    a:active {color: #fcb131; text-decoration:none;}

    p {
        line-height: 1.4em;
    }

    .page_margins {
        width: 980px;
        background: transparent;
    }

    #col2 {
        width: 320px;
    }

    #col2_content {
        padding: 20px 20px 10px 0px;
    }

    .hidecol2 #col3 {
        margin-left: 190px;
    }

    .hidecol1 #col3 {
        margin-left: 0;
        margin-right: 320px;
    }

    #col1_content {
        padding: 15px 0 0 15px;
    }

    #col3 {
        margin: 0 320px 0 200px;
    }

    #col3_content {
        padding-left: 0;
    }


    #logo {
        display:block;
        width:200px;
        height:150px;
        position:absolute;
        top:0;
        left:0;
        outline: none;
    }

    #main {
    }

    #header {
        color: #000;
        background:transparent url('images/logo.jpg') no-repeat scroll 0 25px;
        padding: 0;
        height:175px;
        margin-left: 10px;
    }

    .mainInner{
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #CECECE;
        min-height: 400px;
    }

    .v-detail table.box {
        background: none repeat scroll 0 0 #F2F2F2;
    }

    .v-detail table.box td,
    .v-detail table.box th{
        padding:5px;
    }

    .v-detail table.box th {
        background: none repeat scroll 0 0 #EFA82F;
        color: #FFFFFF;
        font-weight: bold;
/*        text-transform: uppercase;*/
    }

    .highlight {
        background-color: #F2F2F2;
        margin-bottom: 20px;
        padding: 10px;
    }

    .black {
        color: #000000 !important;
    }

    .w-content-record {
        overflow:hidden;
    }
}

/**** Footer ****/
@media all
{
    #footer {
        background:transparent url('images/logo_footer.png') no-repeat scroll 20px 15px;
        padding:20px;
        padding-top:15px;
        color: #ffffff;
        font-weight: bold;
    }

    .footer_top {
        height:60px;
    }

    #footer a.top, .fontsizechanger {
        margin-bottom: 10px;
        color: #EFA82F;
        font-weight: bold;
    }

    #footer a.top {
        background: url("images/bg_arrowtop.gif") no-repeat scroll right 4px transparent;
        margin-right: 20px;
        padding-right: 13px;
    }

    #footer h2 {
        color: #ffffff;
    }

    #footer .footer_middle {
        width: 940px;
    }

    #footer .footer_middle .w-content-record {
        width: 175px;
    }

    #footer .footer_middle .w-content-record a{
        color: #FFFFFF;
        text-decoration: none;
    }

    #footer .footer_middle .w-content-record a:hover{
        color: #fcb131;
        text-decoration: none;
    }

    #footer .copyright {
        border-top: 1px solid #FFFFFF;
        clear: both;
        padding-top: 8px;
        text-align: center;
    }
}

/**** Site Search ****/
@media all
{
    #siteSearch {
        right: 1px;
        top: 150px;
    }

    #siteSearch div.floatbox {
        background: none;
        height: 16px;
        width: 362px;
    }

    #siteSearch .float_left.keywordWrap {
        width: 190px;
        margin: 0;
    }

    #siteSearch .keywordWrap .keyword {
        width:180px;
        border: 1px solid #CECECE;
    }

    #siteSearch .float_right.submit {
        width:55px;
        margin: 0 5px 0 0;
    }

    #siteSearch div.floatbox a.submit {
        background: transparent;
        color: #fff;
        display: block;
        width: auto;
        height: auto;
        padding: 0;
        border-radius: 4px 4px 4px 4px;
        background: #D44647;
    }

    #siteSearch div.floatbox a.submit span.hideme{
        position: static;
        font-size: 13px;
        padding: 2px 5px;
        font-weight: bold;
        display: block;
    }

    #siteSearch div.floatbox a.submit:hover {
        color: #000 !important;
    }

    #siteSearch .float_left {
        margin:0;
        width: auto;
    }

    #siteSearch .float_right {
        margin: 0;
        width: auto;
    }


}

/**** Pager ****/
@media all
{
    .pagelinks .linkNos {
        text-align: left;
        width: auto;
        margin-bottom: 20px;
    }

    .pagelinks .linkNos a {
        border-left: 1px solid #BD1F46;
        color: #000000;
        padding-left: 3px;
        padding-right: 3px;
    }

    .pagelinks .float_left {
        margin: 0;
        padding: 0 2px;
    }
}

/**** Login Panel ****/
@media all
{
    .loginInfoText {
        position:absolute;
        top:127px;
        right:1px;
        min-width: 42px;
    }
}

/**** Buttons ****/
@media all
{
    a.button,
    a.submit,
    a.btn,
    a.btnLogin {
        background: #D44647;
        padding: 2px 5px;
        color: #fff !important;
        font-size: 13px;
        font-weight: bold;
        border-radius: 4px 4px 4px 4px;
        text-align: center;
    }

    a.button:hover,
    a.submit:hover,
    a.btn:hover,
    a.btnLogin:hover {
        color: #000 !important;
        text-decoration: none;
        background: #D44647;
    }

    label {
        cursor:pointer;
        font-weight: bold;
    }

    a.button {
        border: 0;
        box-shadow:none;
        text-shadow:none;
    }

    a.button:hover {
        background: none repeat scroll 0 0 #D44647;
    }

}

/**** Section Nav ****/
@media all
{
    #nav {
        border:0;
        margin-bottom: 0;
        width: 100%;
    }

    #nav .hlist {
        background: #6d6e6e;
    }

    #nav .hlist ul li {
        border-right: 0px;
    }

    #nav .hlist ul li a{
        color: #ffffff;
        font-weight: bold;
    }

    #nav .hlist ul li a:hover{
        color: #fcb131;
    }

    #nav .hlist ul li.active{
        background: #ffffff;
        border-top: 1px solid #6d6e6e;
    }

    #nav .hlist ul li.active a {
        color: #000000;
    }
}

/**** Nav Menu ****/
@media all
{
    .w-menu-superFish .sf-menu {
        background:#6d6e6e;
        padding: 0 10px;
    }

    .w-menu-superFish .sf-menu a {
        border:0;
        padding: .5em 1em;
    }

    .w-menu-superFish .sf-menu a,
    .w-menu-superFish .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
        color: #fff;
        text-decoration: none;
    }

    .w-menu-superFish .sf-menu li li a:visited  { /* visited pseudo selector so IE6 applies text colour*/
        color: transparent;
        text-decoration: none;
    }


    .w-menu-superFish .sf-menu ul {
        position: absolute;
        top: -999em;
    }

    .w-menu-superFish .sf-menu li {
        background:none;
    }

    .w-menu-superFish .sf-menu li a {
        color:#fff;
    }

    .w-menu-superFish .sf-menu li li a {
        background:#fff;
        color:#000;
    }


    .w-menu-superFish .sf-menu li li li {
        background:#fff;
    }

    .w-menu-superFish .sf-menu li:hover,
    .w-menu-superFish .sf-menu li.sfHover,
    .w-menu-superFish .sf-menu a:focus,
    .w-menu-superFish .sf-menu a:hover,
    .w-menu-superFish .sf-menu li.sfHover > a
    {
        text-decoration: none;
        background:none;
        outline: 0;
        color: #FCB131;
    }

    .w-menu-superFish .sf-menu li li:hover,
    .w-menu-superFish .sf-menu li li.sfHover,
    .w-menu-superFish .sf-menu li li.sfHover > a,
    .w-menu-superFish .sf-menu li li.sfHover a,
    .w-menu-superFish .sf-menu li.active:hover
    {
        background:#fff;
        color: #FCB131;
    }

    .w-menu-superFish .sf-menu a:active,
    .w-menu-superFish .sf-menu li.active > a,
    .w-menu-superFish .sf-menu li.active a
    {
        text-decoration: none;
        background:#fff;
        outline: 0;
        color: #000;
        margin-top: -1px;
        border-width: 1px 1px 0;
        border-style: solid solid none;
    }

    .w-menu-superFish .sf-sub-indicator {
        right:0;
        background-image: url("images/arrows-000000.png");
    }
}


/**** Widget Banner ****/
@media all
{
    #header .w-ads-banner,
    #header .ads-banner {
        position:absolute;
        top:30px;
        left:230px;
        margin-left: 10px;
    }

    #header .tagLine {
        position: absolute;
        left: 239px;
        top: 135px;
        font-weight: bold;
    }

    #nav .tagLine2 {
        position: absolute;
        top: 182px;
        right: 10px;
        font-weight: bold;
        color: #fff;
        font-family: Arial;
    }

    .english {
        font-family: Arial;
    }

    #main .w-ads-banner {
        margin-bottom: 20px;
    }

    .rightPanel .w-ads-banner ul {
        padding: 0;
    }
}


/**** Module: Home ****/
@media all
{
    #main {
        padding:0px;
        padding-top:10px;
    }

    .rt-home #main {padding-top:10px; }

    .hidecol1 #col3_content {padding: 18px 20px;}

    .rt-home .col3 .c75l{
        width: 74.5%;
    }
    .rt-home .col3 .c25r{
        width: 25.5%;
    }

    .rt-home .col3 .c25r .subcr{
        padding-left:11px;
    }

    .rt-home .w-content-record {
        overflow: hidden;
    }

    h1.ruled,
    h2.ruled,
    h3.ruled,
    .yform h1,
    .fatList h1,
    #main .w-content-record h2 {
        border-bottom: 3px solid #BD1F46;
        padding-bottom: 8px;
        color: #666666;
        margin-top: 10px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .bodyPanel .w-content-record .pic {
        float: left;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .bodyPanel .w-content-record ul{
        overflow: hidden;
    }

    .bodyPanel .w-content-record ul li {
        float: left;
        width: 297px;
        margin-bottom: 1em;
        margin-right: 20px;
    }

    .bodyPanel .whyRegister .w-content-record ul li {
        width: 584px;
    }

    .bodyPanel .w-content-record ul li:hover {
        background-color: #eeeeee;
    }

    .newsInBrief .w-content-record ul li {
        margin-bottom: 0;
    }

    .newsInBrief .w-content-record ul li,
    .rightPanel .w-content-record ul li {
        background-color: #eeeeee;
        border-bottom: 3px solid #ffffff;
    }

    .newsInBrief .w-content-record ul li a,
    .rightPanel .w-content-record ul li a {
        font-weight: normal;
    }

    .rightPanel .latestEvents ul li {
        background-color: #EEEEEE;
        border-bottom: 3px solid #FFFFFF;
    }

    .rightPanel .latestEvents .detailNews {
        margin-left: 5px;
    }

    .rightPanel .latestEvents .subcr {
        float: right;
        padding: 0.3em 0.3em 0 1em;
    }

    .readMore {
        float: right;
    }

}

/**** Quick / Advanced Search ****/
@media all
{
    .quickSearch {
        padding: 20px 0;
    }

    .searchOptions {
        background-color: #F2F2F2;
        padding: 20px;
    }

    .searchOptions .c50l{
        width:47%;
    }

    .searchOptions .type-check{
        padding-left: 5px;
        padding-top: 5px;
    }

    .searchOptions .type-check label {
        font-weight: normal;
    }

    .searchOptions .dateRange {
        margin-top: 10px;
    }

    .advancedSearch label {
        color: #000;
    }

    .advancedSearchList li {
        border-bottom: 1px solid #BD1F46;
        padding: 10px 0;
    }

    .advancedSearchList ul {
        margin-bottom: 20px;
    }

    .advancedSearchList .pagelinks {
        width: auto;
    }
}


/**** Forms ****/
@media all
{
    .yform {
        background: none;
        border: 0px;
        padding: 0px;
    }

    .yform fieldset {
        background: none;
        border: 0;
        padding: 0;
    }

    .yform .type-button input[type="submit"],
    .yform .type-button input[type="reset"] {
        background: #D44647;
        color: #ffffff;
    }

    .yform .type-button input {
        border: 0px;
        padding: 2px 5px;
        font-size: 0.9em;
        font-weight: bold;
        border-radius: 4px 4px 4px 4px;
    }

    .yform div.type-button input:focus,
    .yform div.type-button input:hover {
        background:#D44647;
        border: 0;
        color: #000;
    }

    .yform div.type-button input.submit:focus,
    .yform div.type-button input.submit:hover,
    .yform div.type-button input.reset:focus,
    .yform div.type-button input.reset:hover {
        background:#D44647;
        color:#000;
    }

    .columnar .type-text label, .columnar .type-select label {
        width: 22%;
    }

    .columnar div.type-check input { margin-left:22%; }
    .columnar div.error .message { margin-left:22%; }
    .columnar div.type-button, .columnar .captcha {
        margin-left:22%;
    }

    .columnar .formFieldNotes {
        margin: 0 0 0 22%;
    }

    .dataProtection .form-row-wrapper .leftCol {
        display:none;
    }

    .dataProtection div.type-check input {
        margin-left: 0;
    }

    .dataProtection .type-check label {
        margin-left:5px;
    }

    .dataProtection .form-row-wrapper {
        margin: 0.5em 0;
        overflow: hidden;
        width: 100%;
    }

    .yform .infoText {
        font-size: 1em;
    }
}
/********** Header Logged In Links***********/
@media all {
    .logged_in_links ul{
        overflow: hidden;
    }

    .logged_in_links ul li {
        float: left;
        padding: 0 5px;
        border-right: 1px solid #000;
    }
}

/* subscribeNowPanel */
@media all {
    div.warning {
/*        background: url("images/icon_warning.gif") no-repeat scroll 10px center #F1F1F1;*/
        background-color:#F1F1F1;
        min-height: 19px;
/*        padding-left: 56px;*/
        padding-left: 15px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .bordered_light {
        border: 1px solid #F1F1F1;
        margin-bottom: 20px;
        padding: 9px;
    }

    .subscribeNowPanel .float_left {
        width:280px;
    }

    .subscribeNowPanel .rightBox{
        margin-right:0;
        margin-left:26px;
    }

    h2.section_rounded {
        background-color: #666666;
        border-radius: 6px 6px 6px 6px;
        color: #FFFFFF;
        font-family: Tahoma,Arial,Sans-Serif;
        font-size: 1.92em;
        font-weight: normal;
        padding: 14px 10px 8px 11px;
    }
}

/* Event */

@media all {
    .bodyPanel .eventList {
        border-bottom: 1px solid #BD1F46;
        padding: 5px 0 5px 0;
    }

    .bodyPanel .eventDetail {
        border-bottom: 3px solid #BD1F46;
        margin-bottom: 10px;
    }

    .currencyList .type-check {
        float: left;
        padding-right: 20px;
    }

    .currencyList .leftCol label {
        margin-top: 5px;
    }
}

/* Breadcrumb */
@media all {
    .w-common-breadcrumb {
        padding-bottom: 15px;
    }

    .w-common-breadcrumb .prefixText{
        font-weight: bold;
        margin-right: 5px;
    }

    .mediaFilesDisplayThin {
        margin: 10px 0 !important;
    }

    table.thinlist .select {
        width: 30px;
        text-align: center;
    }
}