@charset "UTF-8";

@media all
{
    .m-payroll_training .toggle {
        display:block;
    }

    .m-payroll_training .yform{
        background-color: #fff;
        border: 0;
        padding: 0;
    }

    .m-payroll_training .c50l,
    .m-payroll_training .c50r {
        width: 100%;
    }

    .m-payroll_training .ym-columnar .ym-fbox-text label,
    .m-payroll_training .ym-columnar .ym-fbox-select label,
    .m-payroll_training #frmEdit .type-text label,
    .m-payroll_training #frmEdit .type-select label {
        width: 100%;
    }

    .m-payroll_training #frmEdit .creModdate .type-text label{
        width: 20%;
    }

    .m-payroll_training  .linkPortalWrapper div.header,
    .m-payroll_training  .linkPortalWrapper .linkPortalDataWrapper th{
        background-color: #F8F8F8;
    }

    .linkPortalWrapper table.employeeLinkPortalTable td input[type="text"]{
        width: 40% !important;
    }

    input[name="hidden_date_display"] {
        display: block !important;
        right: 0px !important;
        margin-top: -20px;
    }
}