@charset "UTF-8";

@font-face {
    font-family: 'DearJoefourRegular';
    src: url('/cmspilotv30/library/fonts/DearJoefourRegular/dearjoefour.eot');
    src: url('/cmspilotv30/library/fonts/DearJoefourRegular/dearjoefour.eot?#iefix') format('embedded-opentype'),
         url('/cmspilotv30/library/fonts/DearJoefourRegular/dearjoefour.woff') format('woff'),
         url('/cmspilotv30/library/fonts/DearJoefourRegular/dearjoefour.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@media all
{
    /*--- Links ----------------------------------------------------------------------------------------- */
    a {color: #457B3A; background:transparent; text-decoration:none; outline: none;}
    a:visited  {color: #457B3A; }

    a:focus,
    a:hover,
    a:active {color:#457B3A; text-decoration:underline; }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Georgia', arial, serif;
        color: #000;
    }

    hr {
        border-bottom: 1px dashed #231f20;
    }

    h1{
        font-size: 40px;
        margin-bottom: 50px;
    }

    .onlineSale h1{
        margin-bottom: 0;
    }

    h2 {
        font-size: 14px;
        color: #457b3a;
        font-weight: bold;
        line-height: 1.5em;
    }

    .fatList h2, .rt-home .bodyPanel .content h2 {
        margin-bottom: 20px;
    }

    body {
        background: none repeat scroll 0 0 #efe9da;
        padding: 0;
        font-family: 'Georgia', Arial, serif;
        font-size: 12px;
        color: #000;
    }

    p {
        line-height: 1.5em;
    }

    .page_margins {
        background:transparent url('images/page.png') repeat-y scroll 0px 0px;
        margin: auto;
        width: 1055px;
    }

    .page {
        margin: auto;
        width: 960px;
    }

    #header {
        color: #000;
        background:transparent url('/www/images/logo.png') no-repeat scroll center 45px;
        padding: 0;
        height:170px;
    }

    #logo {
        display: block;
        height: 115px;
        left: 130px;
        position: absolute;
        top: 45px;
        width: 700px;
    }

    #weatherInfo {
        position: absolute;
        top: 5px;
        left: 0px;
    }

    .ui-widget {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 1em;
    }

    #col1_content {
        padding: 20px 10px 0 0;
    }

    #main, .rt-home #main {
        padding: 0 0;
        z-index:2;
    }

    #col2 {
        width: 230px;
    }

    #col3_content {
        padding: 15px 0 0 10px;
    }

    .hasBannerBelowHeader #col2 {
        margin-top: -308px;
    }

    .hidecol1 #col3 {
        margin-right: 242px;
    }

    #footer {
        background: url("images/pageb.png") no-repeat scroll 0 0 #efe9da;
        height: 40px;
        padding: 23px 20px 10px 38px;
        font-size: 10px;
    }

    #footer a, #footer a:hover {
        font-weight: normal;
        color: #000;
        text-decoration: underline;
    }

    #header .socialMediaIcons {
        left: 10px;
        top: 182px;
        width: 50px;
    }

    #header .socialMediaIcons p {
        margim: 0;
    }

    #header #signupTop {
        position: absolute;
        right: 0;
        top: 5px;
    }

    #main .mainBottom {
        border-top:1px solid #000;
        border-bottom:1px solid #000;
        padding: 5px;
        text-align: center;
    }

    .mainBottom a {
        font-size: 11px;
        color: #000;
        font-weight: bold;
        letter-spacing: 3px;
        margin-left: 5px;
    }

    #col3 {
        margin: 0 244px 0 200px;
    }

    .mainInner {
        min-height: 400px;
        margin-bottom: 15px;
    }

    .cpBack {
        background: none;
        padding-left: 0;
        line-height: 1em;
    }

    a.readMore {
        display: block;
        margin-top: 10px;
    }
}

@media all
{
    #col2 {
        background: transparent url("images/blackboardbg.jpg") no-repeat scroll 0 0;
        height: 817px;
        width: 230px;
        z-index:1;
    }

    #col2_content {
        padding: 10px;
        color: #fff;
        font-size: 12px;
    }

    #col2_content h2{
        color: #fff;
        font-family: DearJoefourRegular;
        font-size: 26px;
        line-height: 1.1em;
        margin-bottom: 5px;
        font-weight: normal;
    }

    #col2_content h3.title {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        border-top: 1px dashed #fff;
        border-bottom: 1px dashed #fff;
        margin:15px auto 50px auto;
        font-weight: bold;
        line-height: 1.2em;
        letter-spacing: 2px;
    }
}
@media all
{
    #nav {
        background: transparent url("images/topnav.jpg") no-repeat scroll 0 0;
        border-bottom: 0px solid #CCCCCC;
        border-top: 0px solid #CCCCCC;
        margin-bottom: 10px;
    }

    .hlist {
        background: transparent url("images/bottomnav.jpg") no-repeat scroll bottom left;
        padding:5px 0;
    }

    .hlist ul {
        text-align: center;
    }

    .hlist ul li {
        border-right: 0;
        float: none;
    }

    .hlist ul li a {
        background:none;
        color:#000;
        font-weight: bold;
        font-size: 12px;
        display: inline;
        padding: 0 0.8em;
        line-height: 2em;
    }

    .hlist ul li.active {
        background:none;
    }

    .hlist ul li.active a{
        background:transparent;
        color:#457b3a;
        text-decoration:none;
    }

    h6.vlist {
        display: none;
    }

    .vlist ul {
        border-top: 1px dashed #000;
    }

    .vlist ul li {
        border-bottom: 1px dashed #000;
        margin-bottom: 5px;
    }

    .vlist ul li a {
        background: transparent url("images/arrow.jpg") no-repeat scroll 5px 8px;
        font-size: 14px;
        color: #000;
        font-weight: bold;
    }

    .vlist ul li a:hover, .vlist ul li.active a {
        color:#457b3a;
    }

    .vlist ul ul li {
        margin-bottom: 0;
        border: 0;
    }

    .vlist ul ul li a {
        background: transparent;
        font-size: 12px;
        color: #000;
        font-weight: normal;
    }

    .vlist li.active ul li a, .vlist li.active ul li a:hover {
        padding: 2px 0 2px 19px;
        color: #000;
        font-weight: normal;
    }

    .vlist li.active ul li a:hover {
        color: #457b3a;
    }

    .vlist li.active ul li.active a, .vlist li.active ul li.active:hover {
        color: #457b3a;
        font-weight: normal;
    }
}

@media all
{
    .rt-home .content .c33l {
        width: 234px;
    }

    .rt-home .content .c33l .subcl {
        padding: 0;
    }

    .rt-home .content .c66r .subcr {
        padding-left: 10px;
    }

    .rt-home .bodyPanel .content {
        padding: 14px 0 0 0;
    }
    
    .rt-home .calloutLeft .w-content-record .pic {
        float: none;
    }

    div.anythingSlider-cs-portfolio .arrow a {
        background :none;
    }

    div.anythingSlider-cs-portfolio .anythingControls {
        background :none;
    }

    div.anythingSlider-cs-portfolio .start-stop,
    div.anythingSlider-cs-portfolio .start-stop.hover {
        display: none;
    }

    div.anythingSlider {
        margin: 0 0;
    }

    div.anythingSlider-cs-portfolio .anythingControls {
        bottom: -58px;
        position: absolute;
        right: 3px;
    }

    div.anythingSlider-cs-portfolio {
        margin-bottom: 0;
    }

    div.anythingSlider .thumbNav li {
        margin-left: 0;
    }

    div.anythingSlider .thumbNav li img, .w-media-banner img {
        display: block;
    }

    div.anythingSlider-cs-portfolio .thumbNav a,
    div.anythingSlider-cs-portfolio.activeSlider .thumbNav a,
    div.anythingSlider-cs-portfolio .thumbNav a:hover,
    div.anythingSlider-cs-portfolio.activeSlider .thumbNav a:hover {
        background: transparent url("images/circle-out.png") no-repeat 0 0 ;
    }

    div.anythingSlider-cs-portfolio .thumbNav a.cur,
    div.anythingSlider-cs-portfolio.activeSlider .thumbNav a.cur {
        background: transparent url("images/circle-in.png") no-repeat 0 0 ;
    }
}


@media all
{
    .calloutLeft {
        background: transparent url("images/leftcalloutbg.jpg") no-repeat scroll 0 0;
        height: 496px;
        width: 234px;
        position: relative;
    }

    .calloutLeft .wdWrapper {
    }

    .calloutLeft .w-content-record {
        padding: 19px;
    }

    .calloutLeft .w-content-record h3.title {
        font-weight: bold;
        font-size: 28px;
        line-height: 1.1em;
    }

    .calloutLeft div.readMore {
        float: right;
        margin-bottom: 20px;
    }

    .readMore a {
        text-decoration: underline;
    }
    
    .calloutRight ul.noDefault li {
        margin-bottom: 50px;
    }
}

@media all
{
    .m-webBasic_gallery .pictureGrid .pic {
        border: 1px dotted #CCCCCC;
        height: 130px;
        width: 160px;
    }

    .m-webBasic_gallery .pictureGrid .pic a {
        line-height: 127px;
    }

    .m-webBasic_gallery .pictureGrid .pic.third {
        margin-right: 0;
        width: 160px;
    }

    .m-webBasic_gallery .pictureGrid .pic.fourth {
        margin-right: 10px;
        width: 160px;
    }

    .m-webBasic_gallery.rt-picture-grid h1.pageTitle {
        border: 0;
    }
}

@media all
{
    .m-webBasic_news .newsList .pic {
        margin-top: 20px;
        width: 30%;
        max-height: 150px;
        overflow: hidden;
    }

    .m-webBasic_news .newsList .content {
        width: auto;
    }

    .m-webBasic_news .newsList .hasPic .content {
        position: relative;
        width: 70%;
    }

    .m-webBasic_news .newsList .content h1{
        font-size: 14px;
        margin-bottom: 10px;
        color: #457b3a;
        font-weight: bold;
    }

    .m-webBasic_news .newsList .hasPic .content h1 {
        margin-left: -220px;
        margin-bottom: 0;
    }

    .m-webBasic_news.v-detail .col3Body h1{
        margin: 0 0 15px 0;
    }

    .m-webBasic_news.v-detail h1 {
        border: 0;
    }

    .cpBackWrap {
        margin-bottom: 15px;
    }

    .m-webBasic_news.rt-news.v-list .newsList .pic img,  .onlineSale .row img{
        max-width: 200px;
    }
}

@media all
{

    .productList {
        margin-bottom: 15px;
    }

    .productDetail h1 {
        border-bottom: 1px solid #231f20;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .productDetail .info {
        border-bottom: 1px solid #231f20;
        padding-bottom: 15px;
        line-height: 1.7em;
    }

    .productDetail .desc {
        margin-top: 15px;
    }
}

@media all
{
    .rt-online-sale .onlineSale .row {
        border-bottom: 1px dotted #231f20;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .rt-online-sale .onlineSale .row h1{
        font-size: 14px;
        color: #457b3a;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .rt-online-sale .onlineSale .c25l {
        width: 27%;
    }

    .rt-online-sale .onlineSale .c75r {
        width: 73%;
    }
}

@media all
{
    .yform {
    }

    .yform,
    .yform fieldset {
        background:none;
        border:0;
        padding: 0;
    }

    .yform legend {
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 50px;
    }

    .columnar .type-text label, .columnar .type-select label {
        width: 25%;
    }

    .columnar div.type-button, .columnar .captcha {
        margin-left: 25%;
    }

    .yform .infoText {
        font-size: 14px;
        color: #457b3a;
        font-weight: bold;
        line-height: 1.5em;
    }

    .yform .type-button input[type="submit"],
    .yform .type-button input[type="reset"] {
        background: #457b3a;
        color: #FFFFFF;
        font-family: 'Georgia', arial, serif;
    }

    .yform .type-button input[type="reset"] {
        display: none;
    }

    .yform .type-button input {
        padding: 3px 1em;
    }

    .yform .type-text input, .yform .type-text textarea, .yform .type-select select {
        border-radius: 0;
        border: 1px solid #000;
    }

    .yform .ui-datepicker-trigger {
        margin: 0 0 0 10px;
    }

    .columnar div.type-text input.fld_time {
        width: 100px;
    }
}

@media all
{
    .pager {
        margin-top: -50px;
        overflow: hidden;
    }

    .pagelinks {
        width: 357px;
        float: right;
    }

    .pagelinks .linkNos {
        width: 136px;
    }

    .pagelinks .nxtBtn {
        margin-left: 0;
    }
}

@media all
{
    table.thinlist {
        margin-top: 5px;
    }

    table.thinlist th, table.thinlist td {
        border: 0;
        padding:5px 8px;
    }

    table.thinlist thead {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    table.thinlist thead th {
        background: none;
        padding:10px 8px;
    }

    table.thinlist thead th select {
        margin-top: 2px;
    }

    table.thinlist td a, table.thinlist td a:hover {
        color: #000;
    }

    .thinlist th.type, .thinlist th.type select {
        width: 110px;
    }

    .thinlist th.year, .thinlist th.year select {
        width: 100px;
    }

    .thinlist th.country, .thinlist th.country select {
        width: 150px;
    }
}

@media all
{
    .voucher_code {
        border: 2px solid #457B3A;
        padding: 5px;
        width: 210px;
    }
    
    .w-content-record .pic {
        float:right;
    }
    
    h1.title {
        line-height: 1.01em;
        margin-bottom: 20px;
    }

}