.m-account_counterMaster #col3 .c50l {
    width: 70%;
}

.m-account_counterMaster #col3 .c50r {
    width: 0;
}
.m-account_counterMaster.v-list #col2 {
    display: block;
    width: 320px !important;
}
.m-account_counterMaster.v-list #col2 #col2_content {
    padding-right: 10px;
    padding-left: 5px;
}
.m-account_counterMaster.v-list #col3 {
    margin-right: 320px;
}
.m-account_counterMaster.v-list #col3 #col3_content {
    padding-right: 0;
    padding-left: 10px;
}

.m-account_counterMaster #col2 .stock-list {
    font-size: 11px;
}
.m-account_counterMaster #col2 .stock-list .stock,
.m-account_counterMaster #col2 .stock-list .buy-rate,
.m-account_counterMaster #col2 .stock-list .stock-rate
{
    text-align: right;
}

form fieldset legend {
    padding: 0 0 0 32px;
    vertical-align: middle;
    line-height: 32px;
}
form fieldset legend.sell {
    background: url("/cmspilotv30/CP2/admin/themes/Carolina/images/counter-sell.png") no-repeat scroll 0 0 transparent;
}
form fieldset legend.buy {
    background: url("/cmspilotv30/CP2/admin/themes/Carolina/images/counter-buy.png") no-repeat scroll 0 0 transparent;
}

.m-account_counterMaster #entry .fld-non-editable {
    background-color: transparent !important; border: 0px !important;
}

.m-account_counterMaster #entry .account { width: auto; }
.m-account_counterMaster #entry .amount { width: 13%; }
.m-account_counterMaster #entry .exch_rate { width: 13%; }
.m-account_counterMaster #entry .amount_base { width: 13%; }
.m-account_counterMaster #entry .narration { width: 30%; }
.m-account_counterMaster #entry .delete { width: 4%; }

.m-account_counterMaster #entry .fld-account { width: 98%; }
.m-account_counterMaster #entry .fld-amount { width: 98%; text-align: right;}
.m-account_counterMaster #entry .fld-exch_rate { width: 96%; text-align: right;}
.m-account_counterMaster #entry .fld-amount_base { width: 96%; background-color: transparent;}
.m-account_counterMaster #entry .fld-narration { width: 96%;}


.m-account_counterMaster #bodyList .narration {
    font-style: italic;
}
.m-account_counterMaster #bodyList th.fld-entry_date {
    width: 65px;
}
.m-account_counterMaster #bodyList th.fld-action {
    width: 40px;
}
.m-account_counterMaster #bodyList th.fld-voucher_code {
    width: 60px;
}
.m-account_counterMaster #bodyList th.fld-currency_code {
    width: 35px;
}
.m-account_counterMaster #bodyList th.fld-v_buy_amount {
    width: 80px;
}
.m-account_counterMaster #bodyList th.fld-v_buy_rate {
    width: 50px;
}
.m-account_counterMaster #bodyList th.fld-v_sell_amount {
    width: 80px;
}
.m-account_counterMaster #bodyList th.fld-v_sell_rate {
    width: 50px;
}
.m-account_counterMaster #bodyList th.fld-amount_base {
    width: 80px;
}
.m-account_counterMaster #bodyList th.fld-staff_short_code {
    width: 30px;
}


